.custom-table-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.custom-table {
  border-collapse: collapse;
  border: 1px solid white;
  width: 100%;
}

.custom-table th {
  border: 1px solid white;
  text-align: center; 
  padding: 8px;
  font-size: 1.2rem;
}

.custom-table td {
  text-align: center;
  padding: 8px;
}

.nameTable {
  font-weight: bold;
}
